.divConteudo {
  padding: 0;
  margin: 0;
  width: 66%;
}

.divTitle p {
  font-weight: 500;
  font-size: 20px;
  color: #333;
}

.divTitle {
  margin-top: 24px;
  padding-left: 50px;
  background-color: white;
  display: flex;
  gap: 16px;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
  width: (100% - 50px);
}

.divCurriculo {
  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1055px) {
  .divConteudo {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .divCurriculo {
    margin-left: 15px;
  }
}
