.divConteudo {
  padding: 0;
  margin: 0;
  width: 66%;
  background-color: white;
  border-radius: 25px;
  padding-bottom: 50px;
}

.divTitle {
  margin-top: 24px;
  padding-left: 50px;
  background-color: white;
  display: flex;
  gap: 16px;
  align-items: center;
  cursor: pointer;
  width: (100% - 50px);
  transition: 0.5s;
}

.divCurriculo {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 670px) {
  .divConteudo {
    padding: 0;
    padding-bottom: 50px;
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 1055px) {
  .divCurriculo {
    margin-left: 15px;
    margin-right: 15px;
  }
}
