.conteudo {
  width: "100%";
  min-height: "200px";
}

.conteudoTitle {
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.conteudoChildren {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 16px;
  opacity: 1;
}

.noneDisplay {
  opacity: 0;
  height: 0px;
  transform: scaleY(0);
  transition: 0.5s;
  transition-delay: 0.5;
}
